body{
  background:#0f172a;
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.timer{
  background:#020617;
  color:white;
  padding:30px;
  border-radius:12px;
  text-align:center;
}

button{
  margin:6px;
  padding:8px 16px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}
